@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau Office', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.py-3 {
  padding: 0px 20px;
}

/* navigations itmes style */
.navigation {
  position: fixed;
  background: #fbfcfb;
  box-shadow: 0px 16px 16px 0px rgba(0 0 0 / 10%);
  width: 100%;
  z-index: 10;
}
.navigation_items {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.navigation_items .brend a {
  font-size: 27px;
  font-weight: 700;
  color: #06080e;
}
.navigation_items .nav ul {
  display: inline-block;
  list-style: none;
}
.navigation_items .nav ul li {
  display: inline-block;
  padding-left: 40px;
}
.navigation_items .nav ul li a {
  font-size: 21px;
  font-weight: 500;
  color: #06080e;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.navigation_items .logo_btn {
  background: #04ca88;
  border-radius: 50px;
  padding: 5px 30px;
  text-transform: capitalize;
}
.navigation_items .logo_btn a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
/* navigation hover */
.navigation_items .nav ul li a:hover {
  color: #04ca88;
}

/* shou case style */

.shou_case {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  position: relative;
  top: 40px;
}
.case_title {
  font-size: 40px;
  font-weight: 700;
}
.case_title span {
  color: #e0dd03;
  font-style: italic;
}
.case_title img {
  width: 40px;
  height: 40px;
}
.case_description {
  font-size: 23px;
  font-weight: 500;
  text-align: left;
  color: #06080e;
}

.case_img {
  display: flex;
  flex-direction: row;
}
.case_img .img_one img {
  height: 500px;
  width: 300px;
  padding: 10px;
  border-radius: 30px;
}
.case_img .img_two {
  display: block;
  padding: 10px;
}
.case_img .img_two img {
  width: 300px;
  border-radius: 10px;
}
.location {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 660px;
  left: 180px;
  padding: 10px 30px;
  background: #f9fffd;
  box-shadow: 0px 12px 16px 0px rgba(0 0 0 / 10%);
  border-radius: 50px;
}

.loc_tilte {
  font-size: 21px;
  font-weight: 400;
}
.loc_tilte a {
  color: #06080e;
  padding-left: 50px;
}

.loc_content {
  font-size: 21px;
  font-weight: 500;
}

.search_btn {
  padding: 23px 29px;
  font-size: 21px;
  background: #04ca88;
  border-radius: 50px;
}
.search_btn a {
  color: #fff;
}

/* our_title */

.our_title {
  text-align: center;
  text-transform: capitalize;
  color: #06080e;
  padding: 100px 0px;
}

/* brens sections */
.brens {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.brend_name {
  background: #b1b3b2;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 10px;
  color: #06080e;
  transform: rotate(10deg);
}

.place_title {
  text-align: center;
  padding: 50px;
  text-transform: capitalize;
}
.sub_title {
  font-size: 27px;
  font-weight: 600;
  color: #04ca88;
  padding: 50px 0px;
}
.titles {
  font-size: 39px;
  font-weight: 700;
  color: #06080e;
}

.place_navigation {
  display: flex;
  justify-content: space-evenly;
  width: 430px;
  margin: 0px auto;
  background: #f8f8f8;
  box-shadow: 0px 12px 16px 0px rgba(0 0 0 / 10%);
  border-radius: 50px;
  text-transform: capitalize;
}
.place_nav {
  padding: 10px 15px;
}
.active {
  background: #04ca88;
  color: #fff;
  border-radius: 50px;
}
.place_nav a {
  font-size: 23px;
  font-weight: 600;
  color: #06080e;
}
/* plase card section */

.place_card {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.place_card .card_items {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.card_items .items_owerley {
  position: absolute;
  display: inline-block;
  top: 250px;
  width: 100%;
  color: #fff;
  background: rgba(15, 14, 14, 0.555);
  border-radius: 10px;
}
.items_info {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  padding-left: 10px;
}
.items_info .info_title {
  font-size: 17px;
  font-weight: 500;
}
.items_info .info_name {
  font-size: 23px;
  font-weight: 700;
}
.items_info .info_btn {
  position: absolute;
  right: 10px;
  top: -20px;
  background: rgba(12, 12, 12, 0.534);
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.items_info .info_btn:hover {
  background: #06080e;
}
.items_info .info_btn a {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
.items_info .info_price {
  display: flex;
  justify-content: space-around;
  padding: 13px;
  color: #e0dd03;
}
.card_items .items_img img {
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
/* blog sections */
.blog_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blog_item .blog_img img {
  width: 270px;
  height: 270px;
  border-radius: 15px;
}
.blog_items {
  transition: all 0.4s ease;
  margin: 10px;
  pad: 10px;
}
.blog_items:hover {
  box-shadow: 0px 12px 16px 0px rgba(0 0 0 / 10%);
}
.blog_items .blog_img {
  position: relative;
}
.blog_items .kub_one {
  position: absolute;
  top: 240px;
  right: 15px;
  background: #f9fffd;
  width: 30px;
  height: 30px;
}
.blog_items .kub_two {
  position: absolute;
  top: 220px;
  right: 45px;
  background: #f9fffd;
  width: 20px;
  height: 20px;
}
.blog_items .kub_thre {
  position: absolute;
  top: 240px;
  right: 65px;
  background: #f9fffd;
  width: 10px;
  height: 10px;
}
.blog_items .blog_title {
  font-size: 28px;
  font-weight: 600;
  color: #06080e;
  text-transform: capitalize;
  padding: 20px 0px;
}

.blog_items .blog_btn a {
  font-size: 21px;
  font-weight: 500;
  padding-right: 20px;
  text-transform: capitalize;
  color: #06080e;
}
/* clients sections */

.client {
  width: 100%;
  background: hsl(56, 86%, 72%);
  margin-top: 100px;
}

.client_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.client_carts {
  padding: 20px;
  margin: 30px 10px;
  background: #f9faf9;
  border-radius: 10px;
}
.client_ball {
  color: #e0dd03;
  padding: 20px 0px;
}
.client_info {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}

.client_info .client_img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* video section */

.pleasent_title {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 80px 0px;
}
.pleasent_title span {
  color: #e0dd03;
  font-style: italic;
}
.pleasent_video {
  display: flex;
  justify-content: center;
}

/* form section */

.form {
  width: 100%;
  position: relative;
  margin: 80px 0px;
  text-align: center;
  background: #04ca88;
  border-radius: 20px;
}
.kub1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  top: 0;
  right: 0;
}
.kub2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  top: 30px;
  right: 30px;
}
.kub3 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 50px;
  right: 50px;
}
.kub4 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 50px;
  right: 20px;
}
.kub5 {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  top: 0;
  left: 0;
}
.kub6 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  top: 30px;
  left: 30px;
}
.kub7 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 50px;
  left: 50px;
}
.kub8 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  top: 20px;
  left: 50px;
}
.kub9 {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  bottom: 0;
  left: 0;
}
.kub10 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  bottom: 30px;
  left: 30px;
}
.kub11 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 50px;
  left: 50px;
}
.kub12 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 50px;
  left: 20px;
}
.kub13 {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  bottom: 0;
  right: 0;
}
.kub14 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  bottom: 30px;
  right: 30px;
}
.kub15 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 50px;
  right: 50px;
}
.kub16 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: 20px;
  right: 50px;
}
.form_title {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  padding: 30px 0px;
  text-transform: capitalize;
}
.form_description {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 20px 30px;
}
.form_input {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 30px;
  width: 700px auto;
}
.form_input .forms {
  background: #fff;
  padding: 10px 40px;
  border-radius: 50px;
}
.forms input {
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 30px;
  margin-left: 0px;
  background: #fff;
}
.forms button {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  color: #06080e;
  background: #e0dd03;
  border: none;
  outline: none;
}
.footer {
  width: 100%;
  background: #111930;
  color: #fff;
}
.footer_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  text-transform: capitalize;
}
.lists ul {
  list-style: none;
  padding: 20px 50px;
}
.lists ul li {
  padding: 10px 0px;
}
.lists ul li h3 {
  color: #b1b3b2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lists ul li h3:hover {
  color: #e0dd03;
}
.footer_end {
  text-align: center;
  padding: 20px;
  font-size: 21px;
  font-weight: 500;
}
/* responsive design */

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .container {
    width: 780px;
    margin: 0 auto;
  }
  /* shou case */
  .case_title {
    font-size: 30px;
    font-weight: 600;
  }
  .case_title img {
    width: 30px;
    height: 30px;
  }
  .case_description {
    font-size: 18px;
  }
  .case_img .img_one img {
    height: 450px;
    width: 250px;
    padding: 10px;
  }
  .case_img .img_two {
    display: block;
    padding: 10px;
  }
  .case_img .img_two img {
    width: 250px;
  }
  .location {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 710px;
    left: 70px;
    background: #f9fffd;
    box-shadow: 0px 12px 16px 0px rgba(0 0 0 / 10%);
    border-radius: 50px;
  }
  .py-3 {
    padding: 0px;
  }
  .loc_tilte {
    font-size: 17px;
    font-weight: 400;
  }
  .loc_content {
    font-size: 17px;
    font-weight: 500;
  }

  .search_btn {
    font-size: 17px;
  }
  .search_btn a {
    color: #fff;
  }
  .blog_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container {
    width: 550px;
    margin: 0 auto;
  }
  .navigation_items .nav {
    display: none;
  }
  .shou_case {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .footer_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 550px) {
  .container {
    width: 350px;
    margin: 0 auto;
  }
  .case_title {
    font-size: 28px;
    font-weight: 700;
  }
  .case_title img {
    width: 28px;
    height: 27px;
  }
  .case_description {
    font-size: 23px;
    font-weight: 500;
    text-align: left;
    color: #06080e;
  }

  .case_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .case_img .img_one img {
    height: 500px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
  }
  .case_img .img_two {
    display: inline-block;
    padding: 10px;
  }
  .case_img .img_two img {
    width: 300px;
    border-radius: 10px;
  }
  .location {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 960px;
    padding: 10px 30px;
    background: #f9fffd;
    box-shadow: 0px 12px 16px 0px rgba(0 0 0 / 10%);
    border-radius: 20px;
  }

  .loc_tilte {
    font-size: 17px;
    font-weight: 400;
  }
  .loc_tilte a {
    color: #06080e;
    padding-left: 50px;
  }

  .loc_content {
    font-size: 17px;
    font-weight: 500;
  }

  .search_btn {
    padding: 19px 25px;
    font-size: 17px;
    background: #04ca88;
    border-radius: 50px;
  }
  .search_btn a {
    color: #fff;
  }
  .place_navigation {
    display: none;
  }
  .client_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .client {
    width: 100%;
  }
  .client_info .client_img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
